.fixed {
  position: fixed;
  top: 0;
  background: #4a70ed;
  -webkit-box-shadow: 0px 3px 5px -1px black;
  box-shadow: 0px 3px 5px -1px black; }
  .fixed .logo {
    color: white !important; }
  .fixed button {
    color: white !important; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  /*    background: #4a70ed;*/ }
  .header .logo {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4a70ed;
    font-family: 'Roboto', sans-serif;
    padding: 30px 30px 30px 50px;
    cursor: pointer;
    /*    background: red;*/ }

.navbar {
  width: 20%;
  padding-right: 50px; }
  .navbar ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar li {
    list-style-type: none; }

.startpage-navbar button {
  padding: 10px;
  font-size: 20px;
  color: #100059;
  background: none;
  border: none;
  font-family: 'Roboto', serif;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: transparent;
  outline: none; }
  .startpage-navbar button:hover {
    background-color: #ff525a;
    color: white;
    border-radius: 5px;
    /*    text-decoration: underline;*/ }
